apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booklore
  template:
    metadata:
      labels:
        app: booklore
    spec:
      containers:
      - name: booklore
        image: booklore/booklore:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
env:
  - name: APP_USER_ID
    value: "0"
  - name: APP_GROUP_ID
    value: "0"

  - name: TZ
    value: "Etc/UTC"

  - name: BOOKLORE_PORT
    value: "6060"

  - name: DATABASE_URL
    value: "jdbc:mariadb://mariadb.booklore.svc.cluster.local:3306/booklore"

  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: mariadb-secret
        key: username

  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mariadb-secret
        key: password
