apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore
  namespace: booklore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booklore
  template:
    metadata:
      labels:
        app: booklore
    spec:
      containers:
        - name: booklore
          image: ghcr.io/booklore/booklore:latest
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: booklore-db-credentials
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: booklore-db-credentials
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: booklore-db-credentials
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: booklore-db-credentials
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: booklore-db-credentials
                  key: DB_NAME
          volumeMounts:
            - name: booklore-data
              mountPath: /app/data
            - name: books
              mountPath: /books
            - name: data
              mountPath: /downloads
      volumes:
        - name: booklore-data
          persistentVolumeClaim:
            claimName: booklore-pvc
        - name: books
          persistentVolumeClaim:
            claimName: nfs-books
        - name: data
          persistentVolumeClaim:
            claimName: nfs-downloads
