apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore
  namespace: booklore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booklore
  template:
    metadata:
      labels:
        app: booklore
    spec:
      containers:
        - name: booklore
          image: ghcr.io/booklore-app/booklore:latest
          env:
            - name: BOOKLORE_DB_HOST
              value: mariadb
            - name: BOOKLORE_DB_USER
              value: booklore
            - name: BOOKLORE_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: user_password
            - name: BOOKLORE_DB_NAME
              value: booklore
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: books
              mountPath: /books
      volumes:
        - name: books
          persistentVolumeClaim:
            claimName: booklore-books-pvc
