apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore
  namespace: booklore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booklore
  template:
    metadata:
      labels:
        app: booklore
    spec:
      containers:
        - name: booklore
          image: booklore/booklore:latest
          env:
            - name: DATABASE_URL
              value: jdbc:mysql://10.0.0.31:3306/booklore
            - name: DB_USER
              value: booklore
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: DB_PASSWORD
            - name: MYSQL_DATABASE
              value: booklore
          ports:
            - containerPort: 6060
          volumeMounts:
            - name: books
              mountPath: /books
      volumes:
        - name: books
          persistentVolumeClaim:
            claimName: booklore-books-pvc
