apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booklore
  template:
    metadata:
      labels:
        app: booklore
    spec:
      containers:
        - name: booklore
          image: booklore/booklore:latest
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: "10.0.0.8"
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: "booklore_user"
            - name: DB_PASSWORD
              value: "Hurts2p33"
  #            valueFrom:
  #             secretKeyRef:
  #                name: booklore-db-credentials
  #                key: DB_PASSWORD
            - name: DB_NAME
              value: booklore_db
          volumeMounts:
            - name: booklore-data
              mountPath: /app/data
      volumes:
        - name: booklore-data
          persistentVolumeClaim:
            claimName: booklore-pvc

