apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdfding
  namespace: pdfding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pdfding
  template:
    metadata:
      labels:
        app: pdfding
    spec:
      initContainers:
        - name: init-pvc
          image: busybox
          command:
            - sh
            - -c
            - |
              mkdir -p /home/nonroot/pdfding/db
              mkdir -p /home/nonroot/pdfding/media
              chown -R 1000:1000 /home/nonroot/pdfding/db
              chown -R 1000:1000 /home/nonroot/pdfding/media
          volumeMounts:
            - name: pdfding-db
              mountPath: /home/nonroot/pdfding/db
            - name: pdfding-media
              mountPath: /home/nonroot/pdfding/media
      containers:
        - name: pdfding
          image: mrmn/pdfding:v1.3.1
          ports:
            - containerPort: 8000
          env:
            - name: CSRF_COOKIE_SECURE
              value: "TRUE"
            - name: DEBUG
              value: "FALSE"
            - name: HOST_NAME
              value: "pdf.smeyer.ca"
            - name: SECRET_KEY
              value: "your_secret_key_here"
            - name: SESSION_COOKIE_SECURE
              value: "TRUE"
            - name: CSRF_TRUSTED_ORIGINS
              value: "https://pdf.smeyer.ca"
            - name: USE_X_FORWARDED_HOST
              value: "True"
            - name: SECURE_PROXY_SSL_HEADER
              value: "HTTP_X_FORWARDED_PROTO,https"
            - name: ALLOWED_HOSTS
              value: "pdf.smeyer.ca,localhost,127.0.0.1"
          volumeMounts:
            - name: pdfding-db
              mountPath: /home/nonroot/pdfding/db
            - name: pdfding-media
              mountPath: /home/nonroot/pdfding/media
      volumes:
        - name: pdfding-db
          persistentVolumeClaim:
            claimName: pdfding-db
        - name: pdfding-media
          persistentVolumeClaim:
            claimName: pdfding-media
