apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-dynamic-config
  namespace: traefik
data:
  dynamic.yaml: |
    http:
      routers:
        pve:
          rule: "Host(`pve.smeyer.ca`)"
          entryPoints:
            - websecure
          service: pve
          tls: {}
          
        plex:
          rule: "Host(`plex.smeyer.ca`)"
          entryPoints:
            - websecure
          service: plex
          tls: {}

        pbs:
          rule: "Host(`pbs.smeyer.ca`)"
          entryPoints:
            - websecure
          service: pbs
          tls: {}

        pihole:
          rule: "Host(`pihole.smeyer.ca`)"
          entryPoints:
            - web
          service: pihole

        monitor:
          rule: "Host(`monitor.smeyer.ca`)"
          entryPoints:
            - web
          service: monitor

        db:
          rule: "Host(`db.smeyer.ca`)"
          entryPoints:
            - websecure
          service: db
          tls: {}

      services:

        pve:
          loadBalancer:
            servers:
              - url: "https://10.0.0.5:8006"

        plex:
          loadBalancer:
            servers:
              - url: "https://10.0.2.10:32400"

        pbs:
          loadBalancer:
            servers:
              - url: "https://10.0.0.10:8007"


        pihole:
          loadBalancer:
            servers:
              - url: "http://10.0.0.4/admin"

        monitor:
          loadBalancer:
            servers:
              - url: "http://10.0.0.9:7655"

        db:
          loadBalancer:
            servers:
              - url: "http://10.0.0.8:8080"


