apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-dynamic-config
  namespace: traefik
data:
  dynamic.yaml: |
    http:
      routers:

        pve:
          rule: "Host(`pve.smeyer.ca`)"
          entryPoints:
            - websecure
          tls: {}
          service: pve-svc

        plex:
          rule: "Host(`plex.smeyer.ca`)"
          entryPoints:
            - websecure
          tls: {}
          service: plex-svc

        pbs:
          rule: "Host(`pbs.smeyer.ca`)"
          entryPoints:
            - websecure
          tls: {}
          service: pbs-svc

        pihole:
          rule: "Host(`pihole.smeyer.ca`)"
          entryPoints:
            - web
          service: pihole-svc

        monitor:
          rule: "Host(`monitor.smeyer.ca`)"
          entryPoints:
            - web
          service: monitor-svc

        db:
          rule: "Host(`db.smeyer.ca`)"
          entryPoints:
            - websecure
          tls: {}
          service: db-svc

      services:

        pve-svc:
          loadBalancer:
            servers:
              - url: "https://10.0.0.5:8006"
          passHostHeader: true


        plex-svc:
          loadBalancer:
            servers:
              - url: "https://10.0.2.10:32400"
          # plex often works without skip-verify; add serversTransport if needed

        pbs-svc:
          loadBalancer:
            servers:
              - url: "https://10.0.0.10:8007"


        pihole-svc:
          loadBalancer:
            servers:
              - url: "http://10.0.0.4/admin"
          # note: forwarding to a path is allowed; if pihole redirects you may need to set Host header

        monitor-svc:
          loadBalancer:
            servers:
              - url: "http://10.0.0.9:7655"

        db-svc:
          loadBalancer:
            servers:
              - url: "http://10.0.0.8:8080"


