apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
      - name: prowlarr
        image: lscr.io/linuxserver/prowlarr:latest
        ports:
        - containerPort: 9696
        env:
        - name: PUID
          value: "1000"   # match your host user
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Vancouver"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: downloads
          mountPath: /downloads
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: prowlarr-config
      - name: data
        persistentVolumeClaim:
          claimName: nfs-downloads
