apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lidarr
  template:
    metadata:
      labels:
        app: lidarr
    spec:
      containers:
      - name: lidarr
        image: lscr.io/linuxserver/lidarr:develop
        ports:
        - containerPort: 8686
        env:
        - name: PUID
          value: "1000"   # match your host user
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Vancouver"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: music
          mountPath: /music
        - name: data
          mountPath: /downloads
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: lidarr-config
      - name: music
        persistentVolumeClaim:
          claimName: nfs-music
      - name: data
        persistentVolumeClaim:
          claimName: nfs-downloads
