apiVersion: apps/v1
kind: Deployment
metadata:
  name: ghost
  namespace: ghost
  labels:
    app: ghost
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ghost
  template:
    metadata:
      labels:
        app: ghost
    spec:
      containers:
        - name: ghost
          image: ghost:5
          ports:
            - containerPort: 2368
          env:
            - name: url
              value: http://ghost.smeyer.ca
            - name: database__client
              value: mysql
          envFrom:
            - secretRef:
                name: ghost-db-secret
          volumeMounts:
            - name: ghost
              mountPath: /var/lib/ghost/content
      volumes:
        - name: ghost
          persistentVolumeClaim:
            claimName: ghost
