apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: transmission-headers
  namespace: media
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: transmission
  namespace: media
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`transmission.smeyer.ca`)
      kind: Rule
      services:
        - name: transmission
          port: 80
      middlewares:
        - name: transmission-headers
  tls:
    certResolver: cloudflare

